services:
  dashboard_app:
    build:
      context: ..
      dockerfile: Docker/Dockerfile
    container_name: dashboard_app
    restart: unless-stopped
    ports:
      - "8081:3000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: dashboard_db_instance
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: your_root_password
      MYSQL_DATABASE: dashboard_db
      MYSQL_USER: dashboard_user
      MYSQL_PASSWORD: securepassword
    volumes:
      - mysql_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  mysql_data: